<template>
<v-container>
  <div class="text-center">
    <h1>Despre mine !</h1>
    <v-avatar width="120" height="120">
      <img src="/images/me.png" alt="avatar">
    </v-avatar>
    <p>Numele meu este Cozma Viorel Calin,
       sunt un web developer profesionist 
       si un antreprenor in devenire.
       Prin pasiunea de a dezvolta website-uri si de a rezolva probleme, 
       am gasit un scop care imi da energie
       si ma tine motivat pentru a putea termina fiecare proiect
       intr-un timp scurt.
    </p>
  </div>
  </v-container>
</template>

<style scoped>
h1{
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}
p{
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 20px;
}
</style>