<template>
    <v-parallax
    dark
    height="750"
    src="/images/service.jpg"
    alt="intro"
  >
    <v-layout
      align-center
      column
      justify-center
    >
      <div class="display-1 font-weight-thin mb-1"><h3>“Servicii web complete"</h3></div>
      <div class="display-1 font-weight-thin mb-4"><h3>De la host la mentenanta</h3></div>
    </v-layout>
  </v-parallax>

</template>

<style scoped>
h3, h4{
    text-shadow: 2px 2px 8px white;
    font-family: "eurostile",sans-serif;
    line-height: 1.2;
    color: #171717;
    text-align: center;
}


</style>