<template>
  <v-container grid-list-xl text-xs-center>
    <v-layout row wrap>
        <v-flex xs12 md4 sm4>
        <v-card>
        <v-card-title primary-title>
          <div>
            <p><strong>Servicii Mentenanta <br>99lei/luna</strong></p>
            <p>
                - Corectarea Erorilor <br>
                - Adaugare Continut <br>
                - Testarea Tehnica
            </p>
             </div>
        </v-card-title>
        </v-card>
        </v-flex>

        <v-flex xs12 md4 sm4>
        <v-card>
        <v-card-title primary-title>
          <div>
            <p><strong>Servicii Mentenanta <br>199lei/luna</strong></p> 
            <p>
                - Corectarea Erorilor <br>
                - Adaugare Continut <br>
                - Structura Website <br>
                - Testare Tehnica <br>
                - Optimizare SEO
            </p>   
          </div>
        </v-card-title>
        </v-card>
        </v-flex>

      <v-flex xs12 md4 sm4>
        <v-card>
        <v-card-title primary-title>
          <div>
            <p><strong>Servicii Mentenanta <br>499lei/luna</strong></p>
            <p>
                - Corectarea Erorilor <br>
                - Adaugare Continut <br>
                - Structura Website <br>
                - Optimizare SEO <br>
                - Scop Website <br>
                - Obiective <br>
                - Public Tinta <br>
                - Testare Tehnica 
            </p>   
          </div>
        </v-card-title>
        </v-card>
        </v-flex>

    </v-layout>
    <h2>Ultimele Proiecte</h2>
  </v-container>
</template>

<style scoped>
h2{
  color: #293347;
  text-align:center;
  margin: 10px;
}
p {
    font-size: 20px;
}

</style>