<template>
  <v-container grid-list-xl text-xs-center>
        <h2>Wordpress <br>
        Nu este recomandat pentru trafic mare
        </h2>
    <v-layout row wrap>
      <v-flex xs12 md4 sm4>
      
        <v-card>
        <v-img
          src="/images/word1.jpg"
          aspect-ratio="1.2"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <p><strong>Website de prezentare</strong></p>
            <p>Pret: 400 lei <br>
               Durata: 2 saptamani
            </p>
            <p> - 1 Pagina <br>
                - Responsive Design <br>
                - Tema gratis <br>
                - Meniu si Footer <br>
                - Usor de folosit
            </p>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn dark type='button' aria-label="Contact" to="/Contact" id="top" class="mx-1" color="#039BE5">Contact</v-btn>
        </v-card-actions>
      </v-card>
        </v-flex>

      <v-flex xs12 md4 sm4>
        <v-card>
        <v-img
          src="/images/word2.jpg"
          aspect-ratio="1.2"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <p><strong>Website 3-9 pagini</strong></p>
             <p>Pret: 800-2000 lei <br>
               Durata: 4 saptamani
            </p> 
            <p> - 3-9 Pagini <br>
                - Responsive Design <br>
                - Tema gratis <br>
                - Meniu si Footer <br>
                - Usor de folosit
            </p>  
          </div>
        </v-card-title>

        <v-card-actions>
         <v-btn dark type='button' aria-label="Contact" to="/Contact" id="top" class="mx-1" color="#039BE5">Contact</v-btn>
        </v-card-actions>
      </v-card>
      </v-flex>

      <v-flex xs12 md4 sm4>
        <v-card>
        <v-img
          src="/images/word3.png"
          aspect-ratio="1.2"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <p><strong>Magazin Online</strong></p>
            <p>Pret: 1200-3000 lei <br>
               Durata: 7 saptamani
            </p> 
            <p> - Responsive Design <br>
                - Tema gratis <br>
                - Meniu si Footer <br>
                - Usor de folosit <br>
                - Adaugare Produse <br>
                - Sign up, Register, Login <br>
                - Modalitati de plata
            </p>  
          </div>
        </v-card-title>
        <v-card-actions>
         <v-btn dark type='button' aria-label="Contact" to="/Contact" id="top" class="mx-1" color="#039BE5">Contact</v-btn>
        </v-card-actions>
      </v-card>
      </v-flex>
    </v-layout>
      <h2>React.js, Vue.js, Netlify <br> Recomandat pentru toate tipurile de website-uri</h2>
      <v-layout row wrap>
      <v-flex xs12 md4 sm4>
      
        <v-card>
        <v-img
          src="/images/pro1.jpg"
          aspect-ratio="1.2"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <p><strong>Website de prezentare</strong></p>
            <p>Pret: 2000 lei <br>
               Durata: 3 saptamani
            </p> 
            <p> - 1 Pagina <br>
                - Aplicatie Web Progresiva <br>
                - Design Custom <br>
                - Meniu si Footer <br>
                - Usor de folosit <br>
                - Rapid și de încredere <br>
                - Responsive Design
            </p>  
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn dark type='button' aria-label="Contact" to="/Contact" id="top" class="mx-1" color="#039BE5">Contact</v-btn>
        </v-card-actions>
      </v-card>
        </v-flex>

      <v-flex xs12 md4 sm4>
        <v-card>
        <v-img
          src="/images/pro2.jpg"
          aspect-ratio="1.2"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <p><strong>Website Profesional</strong></p> 
           <p>Pret: 6000 lei <br>
               Durata: 5 saptamani
            </p> 
            <p> - 3-9 Pagina <br>
                - Aplicatie Web Progresiva <br>
                - Design Custom <br>
                - Meniu si Footer <br>
                - Usor de folosit <br>
                - Rapid și de încredere <br>
                - Responsive Design <br>
            </p>   
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn dark type='button' aria-label="Contact" to="/Contact" id="top" class="mx-1" color="#039BE5">Contact</v-btn>
        </v-card-actions>
      </v-card>
      </v-flex>

      <v-flex xs12 md4 sm4>
        <v-card>
        <v-img
          src="/images/store.png"
          aspect-ratio="1.2"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <p><strong>Magazin Online</strong></p>
            <p>Pret: 12.000 lei <br>
               Durata: 9 saptamani
            </p> 
            <p> 
                - Aplicatie Web Progresiva <br>
                - Design Custom <br>
                - Meniu si Footer <br>
                - Usor de folosit <br>
                - Rapid și de încredere <br>
                - Responsive Design <br>
                - Adaugare Produse <br>
                - Sign up, Register, Login <br>
                - Modalitati de plata
            </p>     
          </div>
        </v-card-title>

        <v-card-actions>
         <v-btn dark type='button' aria-label="Contact" to="/Contact" id="top" class="mx-1" color="#039BE5">Contact</v-btn>
        </v-card-actions>
      </v-card>
        
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style scoped>
h2{
  color: #293347;
  text-align:center;
  margin: 10px;
}

p {
  font-size: 20px;
}

</style>