<template>
<v-container>
    <h1>Termeni & Conditii</h1>
        <h2>Welcome to Websolver!</h2><br>
        <p>Cozma Viorel-Calin Persoana Fizica Autorizata, Unique Reg.No: 41208077, EUID:ROONRC.F2/575/2019,
            Trade Reg. No: F2/575/31.05.2019, adresa: Zabalt no. 84, Arad, Romania
        </p>

        <h3>Cookies</h3> <p>
            Noi folosim cookie-uri.
            Accesând websolver, ați acceptat să utilizați cookie-uri
            în acord cu Politica de confidențialitate Cozma Viorel-Calin Persoana
            Fizica Autorizata.
            Majoritatea site-urilor web interactive folosesc cookie-uri pentru a ne
            permite să regăsim datele utilizatorului pentru fiecare vizită.

           
            Cookie-urile sunt utilizate de site-ul nostru web pentru a permite funcționalitatea
            anumitor zone pentru a facilita persoanelor care vizitează site-ul nostru web.
            Unii dintre partenerii noștri afiliați / publicitari pot utiliza, de asemenea, cookie-uri.
        </p>
        
        <h3>Licență</h3>
        <p>
            Cu excepția cazului în care se prevede altfel, Cozma Viorel-Calin
            Persoana Fizica Autorizata și / sau autorizații săi dețin drepturile
            de proprietate intelectuală pentru toate materialele de pe websolver
            . Toate drepturile de proprietate intelectuală sunt rezervate.
            Puteți accesa această platformă web pentru utilizarea personală, 
            sub rezerva restricțiilor stabilite în acești termeni și condiții. <br>
            Trebuie să nu: <br>
           - Republica, vinde, închiria sau sub-licență material din websolver.<br>
           - Reproducerea, duplicarea sau copierea materialului din websolver<br>
           - Redistribuiți conținutul de pe site-ul web.
        </p>

        <h3>Politica de rambursare</h3>
        <p>
        Clientul va fi rambursat dacă:<br>
        - Nu livrăm serviciul în termen.<br>
        - Nu este mulțumit de serviciu înainte de ultima implementare.<br>
        <br>
        Clientul nu va fi rambursat dacă:<br>
        - A cumpărat domeniul și serverul greșit.<br>
        - Serviciul a fost gata și lansat.<br>
        - El ne oferă informații greșite.

        </p>
        <h3>Drepturile utilizatorilor</h3>
        <p>
        - Ei pot cere să ștergeți datele lor.<br>
        - Fiecare utilizator este liber să își exprime opinii despre servicii sau alte lucruri, fără a fi criticat, jignit și hărțuit.<br>
        - Utilizatorii pot modifica setările browserului pentru modul în care Google face reclamă.
        </p>
        <h1>Politica de confidentialitate</h1>
        <p>
            La websolver, ne pasă de confidențialitatea dvs.<br>
            După cum știți, noi colectăm date precum: Prenume, Nume și adresă de e-mail.
            Acest lucru ne ajută să ne înțelegem mai bine clientul și să-i trimitem un mesaj înapoi.
            Websolver nu va vinde, împărtăși sau nu va face rău informațiilor dvs. Dacă aveți întrebări cu privire la confidențialitatea noastră, vă rugăm să ne contactați la adresa: websolvercalin@gmail.com.
        </p>
</v-container>
</template>

<script>

export default {
 
data () {
  return {
    title: 'Termeni si conditii'
  }
},
head () {
  return {
    title: this.title,
    meta: [
      { hid: 'description', name: 'description',content: 'Termeni si conditii' }
     ]
    }
  }
}
</script>
